/* --------------------------------------------------------
StyleSheet "glossario" desktop
autore: Michele Caligiuri
website: https://michelecaligiuri.altervista.org
----------------------------------------------------------*/
@media (min-width:900px) {
    /* Macro contenitore contenuti */
    .corpo {
        width: 100%;
        font-size: 16px;
        margin: 0 auto;
        position: fixed;
        overflow-y: auto;
        height: 100%;
    }
    /* Nascondo il menù hamburger */
    header #mnu { display: none !important;}
    header h1 { text-align: center;} /* Intestazione centrata */
    /* Materie */
    .matside {
        display: block !important;
        padding-top: 10px;
        width: 25% !important;
        height: auto;
        max-width: 300px;
        max-height: 768px;
        top: 15%;
        left: 0.5%;
        border-radius: 12px;
        opacity: 0.9;
        border: 1px solid #f89920;
    }
    .matside .btnchiudi { display: none !important; }
    #mat h4 {
        font-size: 20px;
        width: 50%;
        margin: 0 auto;
    }
    /* Dimensioni div argomenti, termini, definizioni */
    #arg,#term,#cont {
        overflow-y: auto;
        width: 40%;
        max-width:600px;
        max-height: 400px;
    }
    /* Pdp */
    footer { padding: 1px; position: fixed;}
}