/* --------------------------------------------------------
StyleSheet "glossario" generale
autore: Michele Caligiuri
website: https://michelecaligiuri.altervista.org
----------------------------------------------------------*/
* { box-sizing: border-box; font-family: 'Open Sans', sans-serif;} /* Responsive*/
/* dom */
body,html {
    margin: 0px;
    padding: 0px;
    background-color: #191d29;
}
/* Barra di navigazione */
header a { 
    text-decoration: none;
    color: #fff;
}
nav {
    width: 100%;
    text-align: center;
    padding: 0.3em;
}
nav a {
    text-decoration: none;
    margin-left: 0.5em;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 0.5em !important;
    color: #000;
    opacity: 0.8;
    cursor: pointer;
}
nav a:hover {
    background-color: #f89920;
    color: whitesmoke;
    opacity: 1;
    transition: 0.5s;
}
/* Caselle di ricerca per filtrare argomenti e/o termini */
#cerca, #cercat {
    background-image: url('../images/search.png');
    background-position: 5px 0px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding:12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 3px;
}
#cerca:focus, #cercat:focus {
    border: 1px solid #f89920;
    transition: 0.3s;
}
/* Info */
#info p { text-align: justify; }
/* Pulsante indietro */
#ind {
    border: none;
    border-radius: 4px;
    background-color: #f89920;
    color: whitesmoke;
    font-size: 14px;
    padding: 0.3em;
}
#ind:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition: 0.5s;
}
.mail #reset { float: right; }
.mail button:hover, .mail #reset:hover {
    border: none;
    color: #fff;
    background-color: #f89920;
    transition: 0.5s;
}