/* --------------------------------------------------------
StyleSheet "glossario" mobile
autore: Michele Caligiuri
website: https://michelecaligiuri.altervista.org
----------------------------------------------------------*/
/* Macro contenitore dei contenuti */
.corpo {
    margin-top:-22px;
    height: auto;
    max-height: 900px;
    background: url("../images/sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Titolo, menù "hamburger" */
header a h1,#mnu {
    padding: 0.2em;
    color: whitesmoke;
}
header #mnu { float: right; }
header #mnu:hover {
    color: #fff;
    background-color: #f89920;
    transition: 0.3s;
}
/* Materie */
.matside {
    position: fixed;
    padding-top: 45px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    background-color: #191d29;
    transition: 0.5s;
}
.matside .btnchiudi {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px !important;
    margin-left: 50px;
    text-decoration: none;
}
#mat a {
    display: block;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    font-size: 17px;
    color: #fff;
}
#mat a:hover {
    background-color: whitesmoke;
    color: #000;
    transition: 0.3s;
}
#mat h4 {
    text-align: center;
    color: #fff;
    font-size: 17px;
    background-color: #f89920;
}
.btnchiudi:hover {
    background-color: #191d29 !important;
    color: #f89920 !important;
}
/* Div coi contenuti (argomenti, termini, definizioni) */
#arg,#term,#cont {
    border-radius: 10px;
    width: 95%;
    padding: 0.3em;
    background-color: whitesmoke; 
    margin: 0 auto;
    margin-top: 0.2em;
    opacity: 0.9;
    overflow-y: auto;
    height: auto;
    max-height: 400px;
    z-index: 1;
}
#arg a, #term a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
}
#arg a:hover, #term a:hover {
    background-color: #f89920;
    border: none;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}
#arg,#term { 
    display: none; 
    height: auto;
}
/* Pdp */
#block {
    height: 25px;
    background-color: #191d29;
    padding: 0px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f89920;
    color: white;
    text-align: center;
    opacity: 0.9;
 }
 /* Landscape */
 @media only screen and (orientation: landscape) {
     #block { padding: 0.5em; }
     footer {
         position: relative;
         padding: 0.2em;
     }
 }