* { box-sizing: border-box; }

body,html {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #191d29;
}
.corpo {
    margin-top:-22px;
    height: 812px;
    background: url("../images/sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header h1,#mnu {
    padding: 0.2em;
    color: whitesmoke;
}
header #mnu {
    float: right;
}

header #mnu:hover {
    color: #fff;
    background-color: #f89920;
    transition: 0.3s;
}

.matside {
    position: fixed;
    padding-top: 60px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    background-color: #191d29;
    transition: 0.5s;
}

.matside .btnchiudi {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
    text-decoration: none;
}

#mat a {
    display: block;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    font-size: 17px;
    color: #fff;
}

#mat a:hover {
    background-color: whitesmoke;
    color: #000;
    transition: 0.3s;
}

.btnchiudi:hover {
    background-color: #191d29 !important;
    color: #f89920 !important;
}

#arg,#term,#cont {
    border-radius: 10px;
    width: 90%;
    padding: 0.5em;
    background-color: whitesmoke; 
    margin: 0 auto;
    margin-top: 0.3em;
    opacity: 0.9;
    overflow-y: auto;
}

#arg a, #term a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
}

#arg a:hover, #term a:hover {
    background-color: #f89920;
    border: none;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}
#arg,#term { 
    display: none; 
    max-height: 250px;
}

#cerca, #cercat {
    background-image: url('../images/search.png');
    background-position: 5px 0px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding:12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 3px;
}
#cerca:focus, #cercat:focus {
    border: 1px solid #f89920;
    transition: 0.3s;
}

#block {
    height: 100px;
    background-color: #191d29;
    padding: 12px;
}
footer {
    position: sticky;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f89920;
    color: white;
    text-align: center;
    padding: 12px;
    opacity: 0.6;
 }