/* --------------------------------------------------------
StyleSheet "glossario", backend desktop
autore: Michele Caligiuri
website: https://michelecaligiuri.altervista.org
----------------------------------------------------------*/
@media (min-width:1200px) { /* Media query */
.corpo {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    position: fixed;
    overflow-y: auto;
    height: 100%;
}
header h2 { 
    font-size: 30px; 
    text-align: center;
}
/* Barra di navigazione a scomparsa */
header nav {
    position: static;
    padding: 0.5em;
    width: 100% !important;
    height: 42px;
    overflow-x: none;
    text-align: center;
}
header nav a { 
    display: inline; 
    margin-left: 0.5em;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 0.5em;
    color: #000;
    opacity: 0.8;
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
}
header nav a:hover {
    background-color: #f89920;
    color: whitesmoke;
    opacity: 1;
    transition: 0.5s;
}
header #btnmnu { display: none !important; }
header nav #btnchiudi { display: none; }
#arg,#mat,#ter,#def {
    margin-top: 0.5em;
    overflow-y: auto;
}
#mat,#ter,#def,#arg { 
    width: 45%; 
    max-width: 600px;
}
#mat th, #mat td,#arg th, #arg td,#ter th, #ter td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    width: 33.3%;
}
#arg table #thead,#ter table #thead {
    width: 30%; 
    text-align: left;
}
#insmat,#insarg { width: 50%; }
#insterm,#insdef,#termdef,#termt { width: 90%; }
#insdef,#termdef {
    height: 100px;
    font-size: 16px;
}
}